version: "3"
services:
  jellyfin:
    container_name: jellyfin
    image: jellyfin/jellyfin
    user: 1000:1000
    network_mode: "host"
    restart: "unless-stopped"
    runtime: nvidia
    environment:
#      - JELLYFIN_PublishedServerUrl=http://example.com
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
    volumes:
      - /jellyfin/config:jellyfin/config
      - /jellyfin/cache:jellyfin/cache
      - /jellyfin/media:jellyfin/media
